.vertical-divider {
    width: 1px;
    background-color: var(--light-warm-grey-500);
    margin: 0 0.5rem 0rem 2rem;
}

.body-layout {
    flex: 1;
    background-color: var(--light-warm-grey-200);
    min-height: 100vh;
    padding: 2rem;
  }

.body-inner {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 2rem;
    align-items: stretch;
    padding: 0 10rem;
}

.filter-panel {
    flex: 1;
    background-color: var(--white);
    padding: 1rem;
    border-radius: 8px;
}

.main-panel {
    flex: 2;
    border-radius: 8px;
}

.manager-filter-container{
    display: flex;
}